:root {
  --first-color: #2196F3;
  --second-color: #212121;
  --third-color: #757575;
  --white-color: #ffffff;
  --filter-color: #F5F4FA;
  --adressf-color: rgba(255, 255, 255, 0.6);
  --hero-main-bg: #2F303A;
  --card-set-gap: 30px;
  --card-portfborder-color: #EEEEEE;
  --head-border-color: #ECECEC;
  --team-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --team-border-radius: 0px 0px 4px 4px;
}

*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
}

body{
  width: 1600px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  
}


h2,h3{
  color: var(--second-color);
  font-style: normal;
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.head{
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid var(--head-border-color);
  background: var(--white-color);
}

.container{
  width: 1200px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.dnav, .links-nav, .logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo{
  
  font-family: 'Raleway', sans-serif;    
  font-style: normal;    
  font-weight: bold;    
  font-size: 26px;   
  line-height: 35px;
  letter-spacing: 0.03em; 
  color: var(--second-color);
  
}

.logo-web{
  font-family: 'Raleway', sans-serif;
  color: var(--first-color);
}

.links-nav.con{
  margin-left: 240px;
}

.links-nav{
  margin-left: 93px;
}

.link-nav{
  margin-left: 50px;
}

.links-nav .link-nav{
  color: var(--third-color);
  
  width: 500px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.links-nav .link-nav:hover,
.links-nav .link-nav:focus{
  color: var(--first-color);
}

.link-nav.current{
  color: var(--first-color);
}

.fotbg{
  margin: 0 auto;
  width: 1600px;
  height: 252px;
  background: var(--hero-main-bg);
}

.fotbg .container{
  padding: 60px 0px;
  display: block;
}

.logof{
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;    
  font-style: normal;    
  font-weight: bold;    
  font-size: 26px;   
  line-height: 35px;
  letter-spacing: 0.03em; 
  color: var(--white-color);
}

.web.logof{
  color: var(--first-color);
}

.adressf{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.adressf-item {
  margin-bottom: 10px;
}

.adressf a{
  color: var(--adressf-color);
}

