.hero-bg{
  padding: 200px 452px 0px;
  height: 600px;
  width: 1600px;
  background: var(--hero-main-bg);
  margin: 0 auto;
}

.hero-text{
  vertical-align: middle;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}


.servise{
  margin-top: 40px;
  text-align: center;
}

.servise a{

  padding: 10px 15px;
  background: var(--first-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.container.index{
  
  display: block;
}

.dfeater{

  display: flex;
  margin: 94px 0px;
}

.lfeature{

  display: flex;
}

.lfeature-item:nth-child(n + 2){

  margin-left: 30px; 
}
  
.feater{
    
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
  
.item{
    
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.whatdo h2.indexh{

  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
 
.whatdo{

  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}

.doul{

  padding: 0;
  margin: 0;

  display: flex;
  margin-left: calc(-1 * 30px);
}

.doul-item{

  flex-basis: calc(100% / 3);
  margin-left: 30px; 
}

.dteam{

  width: 1600px;
  height: 648px;
  background-color: var(--filter-color);
  margin: 0 auto;
  padding: 94px 215px;
}

.dteam h2.indexh{

  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0px 50px;
}

.ulteam{

  display: flex;
  margin-bottom: 94px;
  
}

.ulteam-item{

  
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px; 
  background: var(--white-color);
  box-shadow: var(--team-box-shadow);  
  border-radius: var(--team-border-radius);
}

.img-thumb{

  border-radius: 0px;
}

.content-team{

  margin: 30px 50px 30px ;
  text-align: center;
}

.team{

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
  
.team.des{

  color: var(--third-color);
  font-weight: normal;
  padding-top: 10px;
}
  