.maincon{
  margin: 94px 215px;
}

.filul{
  margin: 0px 0px 94px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter{
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--second-color);
  background: var(--filter-color);
}
  
.filter:focus, .filter:hover {
  background: var(--first-color);
  color: var(--white-color);
}

.filul-item{
  margin: 0px 8px;
}
  
h2.var{
    
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
  
.itemp{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px; 
  letter-spacing: 0.03em;
  
}