.maincon{
  margin: 94px 215px;
}

.filul{
  margin: 0px 0px 94px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter{
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--second-color);
  background: var(--filter-color);
}
  
.filter:focus, .filter:hover {
  background: var(--first-color);
  color: var(--white-color);
}

.filul-item{
  margin: 0px 8px;
}
  
h2.var{
    
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.proj-list{
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.proj-list > .prli{
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.projitm{
  background: var(--white-color);
  border: 1px solid var(--card-portfborder-color);
  box-sizing: border-box;
  width: 370px;
}

.pr-content{
  padding: 20px 24px;
}

.itemp{
  padding-top: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px; 
  letter-spacing: 0.03em;
  
}