.maincon{
  width: 1200px;
  margin: 94px auto;
}

.filul{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter{
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--second-color);
  background: var(--filter-color);
}
  
.filter:focus, .filter:hover {
  background: var(--first-color);
  color: var(--white-color);
}

.filul-item{
  margin: 0px 4px;
}
  
h2.var{
    
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.proj-list{
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.proj-list > .prli{
  
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  
}

.prli{
  background: var(--white-color);
  border: 1px solid var(--card-portfborder-color);
  
}


.pr-thumb img{
  display: block;
  
}

.pr-content{
  padding: 20px 24px;
}


.itemp{
  padding-top: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px; 
  letter-spacing: 0.03em;
  color: var(--third-color);
}